
.navbar {
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 20px;
    z-index: 2; 
    width: 100%;

}
body{
    margin: 0;
    height: 100vh;
    overflow: auto;
}

.gradient-bg {
    position: relative;
    height: 300px;
    background: linear-gradient(90deg, #a960ee, #ff333d, #90e0ff, #ffcb57);
    background-size: 300% 300%;
    animation: animate 5s ease infinite; 
    clip-path: polygon(0 0, 100% 0, 200% 40%, 0 100%); 
    z-index: 1;
}
.section {
    position: absolute;
    top: 150px;
    z-index: 2;
    max-width: 600px;
    padding-left: 10%;
    
}

.email-section {
    position: absolute; 
    margin-top: 320px;
    left: 10%;
    max-width: 600px; 
    z-index: 2;
}

@keyframes animate {
    0%{
        background-position: 0 50%
    }
    50%{
        background-position: 100 50%
    }
    0%{
        background-position: 0 50%
    }
    
}

.phone {
    position: absolute;
    top: 150px; 
    right: 0%;
    max-width: 700px;
    z-index: 2;
    text-align: right; 

}

@media (max-width: 768px) {
    .phone {
        display: none;
    }
}


.table {
    margin: 0 auto; 
    width: 80%; 
}

.table img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-top: 550px;
}

@media (max-width: 768px) {
    .table {
        display: none;
    }
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -3px;
    margin-bottom: 1rem;
    font-size: 70px;
}
ul {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
    align-items: center;
    
}

ul li {
    margin-left: 20px;
    
}

li a {
    text-decoration: none;
    color: #fff;
    
}
